VITE_WHATSAPP_NUMBER=918128931029
VITE_PHONE_NUMBER=+91 81289 31029
VITE_EMAIL=info@certwinx.com
VITE_OFFICE_ADDRESS=7-A Khodiyar Nagar, Near Shivam Gas Agency, Chandlodia, Ahmedabad – 382481, Gujarat, India
VITE_WORKING_HOURS=Monday–Saturday, 9:00 AM–6:00 PM
VITE_WEBSITE=www.certwinx.com